#cf-context {
    width: 100vw;
    height: 100vh;
  }
  
  
  * {
      transition-property: all;
      transition-duration: 150ms;
      transition-delay: 100ms;
      transition-timing-function: ease;
      -webkit-overflow-scrolling: touch;
      scroll-behavior:  smooth;
  }
  
  body{
    font-family: 'Lato', 'Open Sans', sans-serif;
    color: #005380;
    width:  100%;
    background: #f6f8f9;
  }
  
 .entry-header h1, h2 {
   margin: 0;
   margin-bottom: 16px;
   text-align:start;
}

  h1, h2 {
    margin: 0;
    margin-bottom: 16px;
    text-align:center;
  }


  
  h3, h4, h5, h6 {
    margin: 0;
    /* margin-bottom: 8px; */
  }
  
  h1 {
    font-weight: 400;
    font-family: 'Zilla Slab', sans-serif;
    line-height: 54px;
    font-size: 48px;
    color: #216FFF;
  }
  
  h2 {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
  }
  
  h3 {
    font-family: 'Zilla Slab', 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
  }
  
  h4 {
    font-size: 20px;
    line-height: 28px;
    /* text-align: center; */
    font-weight: 400;
    /* opacity: .8; */
  }
  
  h5 {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
  }
  
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2;
    margin: 0 0 4 0;
  }
  
  .small {
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
  }
  
  .span {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
  }
  
  b, strong {
    font-weight: 700;
  }
  
  
  a:hover, a:focus {text-decoration:  underline;text-underline-position: under;color: #216FFF;}
  
  a {
      color: #005380;
      /* text-decoration: underline; */
      /* text-underline-position: under; */
  }
  
  a h5,h5 a,h4 a,a h4
  {
      margin:  0;
      text-decoration: none;
  }
  
  a h5:hover, h5 a:hover {
      color:  #216FFF;
      text-decoration: underline;
  }
  
  a.btn h5 {
      color:  inherit;
  }
  
  :focus {
      outline: 0;
  }
  
  /* helping classes */
  
  .m0 {
    margin: 0 !important;
  }
  
  .ml0 {
    margin-left: 0 !important;
  }
  
  .mt0 {
    margin-top: 0 !important;
  }
  
  .mr0 {
    margin-right: 0 !important;
  }
  
  .mb0 {
    margin-bottom: 0 !important;
  }
  
  .m8 {
    margin: 8px;
  }
  
  .m12 {
    margin: 12px;
  }
  
  .m24 {
    margin: 24px;
  }
  
  .m40 {
    margin: 40px;
  }
  
  .ml8 {
    margin-left: 8px;
  }
  
  .mt8 {
    margin-top: 8px;
  }
  
  .mr8 {
    margin-right: 8px;
  }
  
  .mb8 {
    margin-bottom: 8px;
  }
  
  .ml12 {
    margin-left: 12px;
  }
  
  .mt12 {
    margin-top: 12px;
  }
  
  .mr12 {
    margin-right: 12px;
  }
  
  .mb12 {
    margin-bottom: 12px;
  }
  
  .ml24 {
    margin-left: 24px;
  }
  
  .mt24 {
    margin-top: 24px;
  }
  
  .mr24 {
    margin-right: 24px;
  }
  
  .mb24 {
    margin-bottom: 24px;
  }
  
  .ml40 {
    margin-left: 40px;
  }
  
  .mb40 {
    margin-bottom: 40px;
  }
  
  .mt40 {
    margin-top: 40px;
  }
  
  .mr40 {
    margin-right: 40px;
  }
  
  
  .p0 {
    padding: 0 !important;
  }
  
  .pl0 {
    padding-left: 0 !important;
  }
  
  .pt0 {
    padding-top: 0 !important;
  }
  
  .pr0 {
    padding-right: 0 !important;
  }
  
  .pb0 {
    padding-bottom: 0 !important;
  }
  
  .p8 {
    padding: 8px;
  }
  
  .p12 {
    padding: 12px;
  }
  
  .p24 {
    padding: 24px;
  }
  
  .p40 {
    padding: 40px;
  }
  
  
  .pl8 {
    padding-left: 8px;
  }
  
  .pt8 {
    padding-top: 8px;
  }
  
  .pr8 {
    padding-right: 8px;
  }
  
  .pb8 {
    padding-bottom: 8px;
  }
  
  .pl12 {
    padding-left: 12px;
  }
  
  .pt12 {
    padding-top: 12px;
  }
  
  .pr12 {
    padding-right: 12px;
  }
  
  .pb12 {
    padding-bottom: 12px;
  }
  
  .pl24 {
    padding-left: 24px;
  }
  
  .pt24 {
    padding-top: 24px;
  }
  
  .pr24 {
    padding-right: 24px;
  }
  
  .pb24 {
    padding-bottom: 24px;
  }
  
  .pl40 {
    padding-left: 40px;
  }
  
  .pt40 {
    padding-top: 40px;
  }
  
  .pr40 {
    padding-right: 40px;
  }
  
  .pb40 {
    padding-bottom: 40px;
  }
  
  /* helping classes */
  
  .space-divider {
    height: 72px;
  }
  
  .line-bottom {
      border-bottom:  1px solid #CFCED5;
  }
  
  .bullet i {
      /* margin-right: 12px; */
      display: inline-flex;
      padding: 8px;
      font-size: 16px;
      background: #C9F6FF;
      border-radius: 24px;
      cursor: default;
      /* float:  left; */
  }
  
  .bullet i:hover {
      transform: rotatez(-25deg);
  }
  
  .card {
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid hsla(201, 100%, 25%, 0.15);
    box-shadow: 0 2px 4px 0 rgba(14,36,48,0.10);
  }
  
  .device-height {
    height: calc(100vh - 48px) !important;
    position:  relative;
    margin: 0;
    padding-top: 64px;
    display: block;
    /* max-height: 720px; */
    min-height:  500px;
  }
  
  .max-width {
    max-width: 1024px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  section {
      max-width: 1024px;
      margin-left: auto !important;
      margin-right: auto !important;
  }
  
  .FAB {
      position: fixed;
      bottom: 24px;
      left:  24px;
      z-index: 1;
      margin:  0;
  }
  
  
  
  .inline {
    display: inline-block;
  }
  
  .inline-flex {
      display: inline-flex;
      align-items: center;
  }
  
  .flex-container {
      display:  flex;
      /* flex-direction:  column; */
      align-items:  center;
      padding: 128px 0px;
  }
  
  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 72px;
    min-height: initial;
    width: inherit;
    white-space: nowrap;
    border-radius: 0px 0px 8px 8px;
    /* justify-content: space-around; */
    /* background:  inherit; */
    /* align-items: center; */
    border: none;
    transition-duration: 300ms;
    /* transition-delay: 0ms; */
    /* border-bottom: 1px solid rgba(57, 91, 115, .15); */
    /* text-align:  center; */
  }
  
  .nav-margin {
    margin-top: 96px;
  }
  
  .nav-padding {
    padding-top: 96px;
  }
  
  nav .logo {
      DISPLAY: inline-block;
      padding: 16px;
      /* width: 25%; */
      float: left;
  }
  
  nav .logo img{
    max-height: 40px;
    /* position: absolute; */
    /* top: 12px; */
    /* left: 24px; */
  }
  
  nav .insureme-navbtn {
      margin: 12 0;
      display:  inline-block;
      float:  right;
  }
  
  .nav-icon {
      display: inline-block;
      padding: 28px 16px;
      cursor:  pointer;
      display: inline-flex;
      /* align-items: center; */
      /* text-decoration: none; */
      /* opacity:  .8; */
      /* text-decoration:  none; */
  }
  
  .nav-icon:hover {
      color:  #216FFF;
      text-decoration: none;
      text-underline-position: auto;
  }
  
  .nav-actions {
      float:  right;
      text-align:  right;
      display:  flex;
      padding:  0 8px;
  }
  
  nav>h5 {
      margin-top: 12px;
      /* margin-right: 24px; */
  }
  
  nav .nav.navbar-nav{display: flex;justify-content: center;padding:  0;}
  
  nav .nav.navbar-nav li a:hover{
    color: #216FFF;
  }
  
  nav .nav.navbar-nav li.active a:hover{
    color: #216FFF;
  }
  
  nav .nav.navbar-nav li.active>h5>a{
      /* background-color: white; */
      /* padding-bottom: 0px; */
      color: #216FFF;
  }
  
  .navbar-nav li {
      margin: 0;
      padding: 10px 0px;
      font-weight: bold;
  }
  
  nav h4.number {
      display: inline-block;
  }
  
  .menu-plans ul {
      list-style:  none;
      padding: 4px 0;
      margin-top:  16px;
  }
  
  .menu-plans li a {
      padding: 12px;
      display:  block;
  }
  
  nav.navbar .menu-plans {
      height: 48px;
      margin-right: -26px;
      overflow:  hidden;
      text-align:  left;
  }
  
  nav.navbar .menu-plans:hover, nav.navbar .menu-plans:focus
   {
      overflow: visible;
      position:  relative;
      z-index:  10;
  }
  
  
  .bg-nav {
    background: white;
    border-bottom: 1px solid #E2E7EA;
    box-shadow: 0 2px 4px 0 rgba(14,36,48,0.15);
    padding: 0 !important;
  }
  
  .bg-green {
      background: #66FFE0;
  
  }
  
  .bg-red {
      background: #FF4570;
  
  }
  
  .bg-yellow {
      background: #FFE991;
  }
  
  .bg-white {
      background: white;
  }
  
  .red {
      color: #FF4570;
  }
  
  .blue {
      color: #216fff;
  }
  
  .green {
      color: #18cd70;
  }
  
  .white {
      color: #fff;
  }
  
  .nowrap {
      white-space: nowrap;
  }
  
  .bullet {
      /* max-width: 285px; */
      display: inline-flex;
      align-items:  center;
      /* text-align:  left; */
  }
  
  .icon-48{
    max-width: 48px;
    max-height: 48px;
  }
  
  .icon-40{
    max-width: 40px;
    max-height: 40px;
  }
  
  .icon-24{
    max-width: 24px;
    max-height: 24px;
  }
  
  .icon-16{
    max-width: 16px;
    max-height: 16px;
  }
  
  .nav-tabs {
      border: none;
      text-align:  center;
  }
  
  .nav-tabs>li {
      border:  none;
      float:  none;
      display:  inline-block;
      margin:  auto;
  }
  
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {color: #216FFF;background:  none;border:  none;border-bottom: 4px solid #216FFF;}
  
  .nav-tabs>li>a:hover {
      background:  none;
      border: 1px solid transparent;
  }
  
  
  #discount-modal img {
      height: 18px;
  }
  
  #discount-modal {
      height: 40px;
      margin-top:  16px;
      background:  #18CD70;
      border-radius:  4px;
  }
  
  .page-progress{
      max-width: 455px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      /* text-transform: uppercase; */
      /* font-weight: 600; */
      /* color: #395B73; */
      /* font-size: 13px; */
      /* letter-spacing: 1px; */
      /* line-height: 18px; */
      padding-top: 24px;
      text-align: center;
      white-space: nowrap;
  }
  
  .page-progress :not(.active){
      opacity: 0.35;
  }
  
  .page-progress .item{
      /* width: 25%; */
      margin: 0 12px 16px 12px;
      display: inline-block;
  }
  
  
  span.glyphicon.glyphicon-earphone {
      /* color: #FF4570; */
  }
  
  .collapse {
         display: none !important;
     }
  
  .contactinfo{
      display: inline-block;
      margin-right: 24px;
      margin-top: 16px;
      margin-bottom:  16px;
      /* float: right; */
      /* margin-right: 32px; */
      text-align: right;
      /* color: #395B73; */
  }
  
  .contactinfo p {
      margin: 0;
  }
  
  .center{
    text-align: center;
  }
  
  .page-top{
    min-height: 500px;
    width: 100%;
    background: #66FFE0;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .page-top h1 {
    margin-top: 24px;
    color:  #216FFF;
  }
  
  .page-heading{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
  }
  
  .page-content{
    margin-left: auto;
    margin-right: auto;
    margin: 16px 64px;
  }
  
  
  .bg-icons {
      background-image: url(/images/icons-bg.png);
      background-blend-mode: overlay;
      background-size: 500px;
  }
  
  .ticker img {
      max-height:  20px;
      margin-right:  8px;
  }
  
  .semi-bold {
      font-weight:  600;
  }
  
  .line-divider {
      height:  1px;
      border:  0.5px solid #E2E7EA;
      margin:  8px 0;
  }
  
  
  i.new-tab {
      font-size:  15px;
      font-weight:  600;
      position:  relative;
      bottom:  -2;
  }
  
  #testimonials .person {
      display: inline-flex;
      align-items: center;
      white-space:  nowrap;
      margin-top: 12px;
  }
  
  #testimonials .person>div:first-child {
      width:  64px;
      height:  64px;
      margin-right: 12px;
  }
  
  .quotes {
      position: absolute;
      left: 12px;
      top: -12px;
      z-index:  1;
      /* opacity:  .5; */
      mix-blend-mode:  multiply;
  }
  
  .quotes:hover {
      transform: rotatez(-15deg);
  }
  
  
  .supporters img {
      max-width: 88px;
      max-height: 56px;
      mix-blend-mode:  multiply;
      /* filter: grayscale(100%); */
      /* opacity: .5; */
  }
  
  .supporters img:hover, .supporters img:focus {
      /* opacity: 1; */
      /* filter: none; */
  }
  
  .supporters>div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      margin-top: 24px;
  }
  
  .supporters {
      margin-top: 24px;
      width: 100%;
      background:  inherit;
  }
  
  
  /* .testimonials-text::before {content: open-quote;font-size: 19px;font-weight: 700;opacity:  1;}
  
  .testimonials-text::after {content: close-quote;font-size: 19px;font-weight:  700;opacity:  1;} */
  
  .testimonials-text {
      background: rgba(255, 233, 145, 1);
      padding: 16px;
      padding-right: 24px;
      border-radius: 2px 2px 96px 2px;
      box-shadow: 0 20px 10px -10px rgba(14,36,48,0.10);
      font-family:  "Zilla Slab";
  }
  
  #cf-context {
      width: 100% !important;
      height: initial !important;
      min-height: 400px;
  }
  
  cf-chat-response text p {/* Rectangle: */
      background: #FFFFFF;
      border: 1px solid #E2E7EA;
      color: #005380;
      font-size: 16px;
      padding:  12px 24px;
  }
  
  cf-chat-response.user text>p {background:  #66FFE0;}
  
  cf-input textarea {
      /* font-size:  15px; */
      color:  #005380;
      border: 1px solid #216FFF;
      height:  40px;
      border-radius:  8px;
  }
  
  .load-screen {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: white;
      z-index: 9999;
      overflow: hidden;
      display: flex;
  }
  
  #loader span {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #FF4570;
    margin-right: 8px;
    display: inline-block;
  }
  #loader>div{
    margin: auto;
  }
  #loader span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
  }
  
  #loader span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
  }
  
  #loader span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
  }
  
  @keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }
  
  
  nav .contactinfo i {
      color: #FF4570;
      /* animation: call 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; */
  }
  
  @keyframes call{
    0%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    50%{
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: rotateZ(-20deg);
    }
  }
  /*
  .insurance-types{
    margin-left: auto;
    margin-right: auto;
  }
  
  .insurance-types .item{
    width: 20%;
  float: left;
  margin-bottom: 50px;
  }
  
  .insurance-types .item .circle{
    height: 122px;
    width: 122px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(57,91,115,0.15);
    border-radius: 100px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px 0 rgba(14,36,48,0.1);
  }
  
  .insurance-types .item .title{
    margin-top: 15px;
  color: #395B73;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 18px;
        text-align: center;
  
  }
  
  .insurance-types .item .circle object{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }*/
  
  .insurance-types .item {
    display: inline-block;
    padding: 8px 20px;
    padding-top:  0;
    /* margin: 12px; */
    margin-top: 24px;
  /* Combined Shape: */
    background: #FFFFFF;
    border: 1px solid #E2E7EA;
    box-shadow: 0 2px 4px 0 rgba(14,36,48,0.15);
    text-decoration:  none;
    border-radius: 2px 20px 20px 20px;
  }
  
  .insurance-types .item:hover, .insurance-types .item:focus {
      box-shadow: 0 5px 15px rgba(0, 82, 129, .1), 0 5px 15px rgba(0,0,0,.07);
      transform: translateY(-2px);
  }
  
  .insurance-types .item h5 {
      /* margin: 0; */
      color: #216FFF;
  }
  
  .insurance-types{
    /* position: relative; */
    /* top: 32px; */
    z-index: 10;
    display:inline-block;
    white-space: nowrap;
    margin-left:  -24px;
  }
  
  .insurance-types img {
      height: 72px;
      position: relative;
      top: -16px;
  }
  
  #jobs .card img {
      margin: auto;
      height: 128px;
      display:  block;
  }
  
  #jobs .card-bottom {
      min-height: 240px;
      display:  flex;
      flex-direction:  column;
      justify-content:  space-between;
  }
  
  .selection-options .item{
    width: 20%;
  float: left;
  margin-bottom: 50px;
  }
  .selection-options .item.active .circle{
      box-sizing: border-box;
      border: 4px solid #FF4570;
    position: relative;
    z-index: 100;
  }
  
  .selection-options a:hover{
    text-decoration: none;
  }
  
  .selection-options .item .circle{
    height: 122px;
    width: 122px;
  
    border: 1px solid rgba(57,91,115,0.15);
    border-radius: 100px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px 0 rgba(14,36,48,0.1);
  }
  
  .selection-options .item .title{
    margin-top: 15px;
    color: #395B73;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 18px;
      text-align: center;
  
  }
  
  .selection-options .item .circle img{
    position: relative;
    height:40%;
    top:50%;
    transform: translateY(-50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .horizontal-divider{
  
      height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top:64px;
    margin-bottom: 64px;
    background-color:#66FFE0;
  
  }
  
  .login-box {
      background-color: #f8f7f2;
      justify-content: space-between;
      background-image: url(/images/icons-bg.png);
      background-size: cover;
      box-shadow: 0 20px 35px rgba(0, 82, 129, .1), 0 10px 15px rgba(0,0,0,.07);
      overflow:  hidden;
  }
  
  .login-box>div:first-child {
      background: #fff;
      position: relative;
      z-index: 1;
      box-shadow: 0 5px 5px 0 rgba(14,36,48,0.10);
      border-bottom: 1px solid rgba(57,91,115,0.15);
      /* border=radius:; */
  }
  
  .portlet{
  }
  
  .portlet.card {
      /* box-shadow: 0px 60px 60px -40px rgba(14, 36, 48, 0.15); */
      /* background: #FFF; */
  }
  
  #home-page .portlet:first-child {
      /* width: 75%; */
      /* margin: auto; */
      /* margin-top: 164px; */
  }
  
  #home-page .portlet:last-child {
      padding: 0;
      /* margin-bottom:  0; */
  }
  
  #home-page .portlet:last-child h5 {
      text-align: center;
      display: inline-block;
      margin: 0 16px;
  }
  
  
  .portlet .icon{
    display: block;
    width: 128px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left:0;
    right:0;
    margin-top: -128px;
  }
  
  .portlet .icon img{
    width: 100%;
  }
  
  .portlet.with-icon{
    padding-top:102px;
  }
  
  
  .portlet .text{
  
      color: #395B73;
      font-size: 13px;
      line-height: 21px;
      text-align: center;
  }
  
  .portlet .heading.small{
  
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 18px;
  }
  
  .blocking-portlet {
      position: fixed;
      z-index: 2000;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999999;
  }
  
  input.error{
      border-color: red !important;
      border-width: 2px !important;
      border-style: solid !important;
  }
  
  .blocking-portlet input {
      width: 100%;
  }
  
  .blocking-portlet .background {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: #395B73;
      opacity: 0.75;
  }
  
  .blocking-portlet>.portlet {
      position: fixed;
      z-index: 1;
      margin: auto;
      height: 80%;
      top: 10%;
      width: 80%;
  }
  
  
  
  .icon-circle {
      margin-right: 12px;
      display: inline-flex;
      padding:  12px;
      background:  #C9F6FF;
      /* width: 48px; */
      /* height:  48px; */
      border-radius: 24px;
  }
  
  #how-do-i-get-insured p {
      /* max-width: 170px; */
      /* margin: auto; */
  }
  
  #how-do-i-get-insured .content{
    display:  flex;
    justify-content:  space-between;
  }
  
  
  #how-do-i-get-insured .description {
      display: inline-flex;
      align-items:  center;
      margin-top:  8px;
  }
  
  #how-do-i-get-insured .content .col-md-1 {/* Path 13: */
      height: 20%;
      opacity: 0.5;
      border-bottom: 3px dotted #005380;
  }
  
  #how-do-i-get-insured .content .description .title{
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #how-do-i-get-insured .content .description .text{
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
  }
  
  .img-buythroughus {
      /* position:  absolute; */
      /* top:  0; */
      /* right: 18%; */
      max-width: 60%;
  }
  
  .partners>div{
    /* padding: 20px; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* width: 100%; */
    padding: 0 24px;
    /* text-align: center; */
  }
  
  .partners {
      max-width: 768;
  }
  
  
  .partners img{
    max-width: 100px;
    max-height: 48px;
    margin-bottom:  12px;
    vertical-align: initial;
    /* margin-top: 40px; */
    /* mix-blend-mode: multiply; */
    /* margin-bottom:  8px; */
  }
  
  .partners a {
      display:  block;
      /* height:  64px; */
      margin-top: 32px;
      /* margin-bottom:  8px; */
      text-decoration:  none;
  }
  
  .btn{
    background: inherit;
    font-weight: inherit;
    font-size: inherit;
    height: 48px;
    padding: 14px 16px;
    transition-duration: 0ms;
    border-radius: 4px;
    /* box-shadow: 0px 10px 2px -5px rgba(14,36,48,0.15); */
  }
  
  .btn:focus {
      color: inherit;
      outline:  none;
  }
  
  .btn-primary:hover {
      /* box-shadow: 0px 5px 5px rgba(14,36,48,0.15); */
      /* position: relative; */
      transform: scale(1.02);
      filter: brightness(110%);
      /* transform: translateY(-2px); */
      /* top: -1px; */
      /* opacity: 0.9; */
  }
  
  .btn-primary {
      background: #FF4570 !important;
      color: white !important;
      border: none;
      /* margin-top: 24px; */
      padding: 14px 24px;
  }
  
  .btn-primary:hover{
    /* border: 2px solid #FF4570; */
    color:  initial;
  }
  
  .btn.circle{
    border-radius: 50%;
    font-size: 61px;
  }
  
  .btn.small{
    width: 44px;
    height: 44px;
    font-size: 20px !important;
  }
  
  
  .btn.small.pink{
    background-color:#FF4570;
    color: white;
  }
  
  .btn.center{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn.left{
    float:left;
  }
  
  .btn.right{
    float: right;
  }
  
  .center-align{
    text-align: center !important;
  }
  
  .left-align{
    text-align: left !important;
  }
  
  .right-align{
    text-align:right !important;
  }
  
  
  .semibold {
      font-weight: 600 !important;
  }
  
  .right select, .right input {
      font-size:  16px;
      background:  none;
  }
  
  .btn.pink.filled{
    background-color: #FF4570;
    border-color: #FF4570;
    color: #FFFFFF;
  }
  
  .btn-secondary{
    border: 2px solid #216FFF;
    color: #216FFF;
    padding:  14px 24px;
  }
  
  .active.btn.btn-secondary, .active>.btn.btn-secondary {
      color: fff;
      background: #216FFF;
  }
  
  .btn-secondary:hover {color: fff;background: #216FFF;}
  
  footer .button-survey {
      background: initial;
      color: 17AEFF;
      border: solid 2px #216FFF;
  }
  
  .btn-ghost {
      border: 2px solid transparent;
      background:  none;
      /* opacity:  .5; */
  }
  
  .btn-ghost:hover {
      /* border: 2px solid #005380; */
      color: inherit;
  }
  
  footer .button-survey:hover {}
  
  footer p, footer span {
      /* font-weight:300; */
      /* opacity: .75; */
  }
  
  footer .bottom-nav{
    /* display: inline-block; */
    /* position: absolute; */
    /* bottom: 30px; */
    /* margin-top: 16px; */
  }
  
  footer .tick {
      top: 8px;
      position: relative;
  }
  
  footer input {
      width: 75%;
  }
  
  footer .survey {
      text-align:  right;
  }
  
  footer .bottom-contact .number {color: #216FFF;}
  
  footer .social-media-icons {
      /* padding: 0; */
      text-align:  right;
      /* padding-top: 32px; */
  }
  
  .social-media-icons {
      /* padding: 0; */
  }
  
  .social-media-icons li {
      list-style: none;
      display: inline-block;
      margin-left: 16px;
      /* margin-top: 12px; */
      /* margin-bottom:  12px; */
      }
  
  .social-media-icons li:hover {
      opacity: 1;
      }
  
  .social-media-icons img {
      height:  24px;
  }
  
  .bottom-nav ul{
    margin:  0;
    padding: 0px;
    list-style: none;
  }
  
  .bottom-nav ul li{
    /* display: inline; */
    /* padding-right:33px; */
    /* color: #FFFFFF; */
  }
  
  .bottom-nav ul li a{
    /* color: #FFFFFF; */
    /* opacity: 0.25; */
  }
  
  .bottom-nav ul li.active a{
    opacity: 1.0;
    color: #216FFF;
  }
  
  .bottom-nav ul li a:hover{
    opacity: 1.0;
    color: #66FFE0;
    text-decoration: none;
  }
  
  .bottom-nav ul li a h5 {
      display: initial;
      display:  inline-block;
      margin-bottom: 12px;
  }
  
  footer{/* margin-top: 64px; */background-color: #66FFE0;z-index: 1;/* color: #FFFFFF; *//* padding: 32px 128px !important; */}
  
  footer.right{
    text-align: right;
  }
  
  footer .bottom-contact {
      /* position: absolute; */
      /* right: 64px; */
      /* bottom: 32px; */
      margin-top: 32px;
  }
  
  
  .clouds {position:  relative;}
  
  @keyframes clouds{
  
      0%, 100%{
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translatex(0);   }
  
      50%{
      -webkit-transform: translateX(-72%);
      -ms-transform: translateX(-72%);
      -o-transform: translateX(-72%);
      transform: translatex(-72%);   } }
  
  
  .clouds .left-clouds {
      left: 128px;
      position: absolute;
  }
  
  .clouds .right-clouds {
      right: 128px;
      position: absolute;
      transform: rotatey(180deg);
  }
  
  .clouds .cloud-1 {
      bottom: 64px;
      position: relative;
      /* animation: clouds 6s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; */
  }
  
  .clouds .cloud-2 {
      /* animation: clouds 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite; */
  }
  
  
  input, select{
      box-sizing: border-box;
      height: 48px;
      width: 100%;
      /* max-width: 100%; */
      border: 1px solid #CFCED5;
      border-radius: 4px;
      /* background-color: #F2F5F7; */
      padding-left: 12px;
      padding-right: 12px;
      /* margin-right: 16px; */
      color: #395B73;
  }
  
  input::placeholder, select::placeholder {
      color:  inherit;
      opacity:  .5;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:  inherit;
      opacity:  .5;
      }
  ::-moz-placeholder { /* Firefox 19+ */
      color:  inherit;
      opacity:  .5;
      }
  :-ms-input-placeholder { /* IE 10+ */
      color:  inherit;
      opacity:  .5;
      }
  :-moz-placeholder { /* Firefox 18- */
      color:  inherit;
      opacity:  .5;
      }
  
  input[type="radio"] {
      WIDTH: 16px;
      height: 16px;
      min-width: 16px;
      margin-right: 4px;
      margin-bottom: 4px;
  }
  
  input[type="checkbox"] {
      height:  inherit;
      min-width: 0;
      max-width: none;
      margin:  0;
      margin-right: 4px;
      width: 16px;
      height: 16px;
  }
  
  button:active, button:focus {
      outline:none;
      /* background: #53FF8D; */
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CFCED5
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #CFCED5
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #CFCED5
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #CFCED5
  }
  
  .tick{
    color: white;
    height: 40px;
    width: 40px;
    background-color: #F2416B;
    border-radius: 50%;
    /* box-shadow: 0 10px 10px -5px rgba(0,0,0,0.1); */
    text-align: center;
    display: inline-block;
    border: none;
    padding: 0;
    transition-property: background;
    transition-duration: 1000ms;
  }
  
  .tick>i {
      width: 40px;
  }
  
  .tick.green{
    background-color: #53FF8D;
  }
  
  .tick span{
    font-size: 24px;
  }
  
  
  
  /* datepicker */
  
  #ui-datepicker-div {
      /* font-size: 90%; */
      /* width: 100%; */
      z-index: 1000 !important;
  }
  
  #ui-datepicker-div .ui-widget {
      background: #2e3641;
      border: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
  }
  
  #ui-datepicker-div .ui-datepicker {
      padding: 0;
  }
  
  #ui-datepicker-div .ui-datepicker-header {
      border: none;
      background: transparent;
      font-weight: normal;
      /* font-size: 15px; */
  }
  
  #ui-datepicker-div .ui-datepicker-header .ui-state-hover {
      background: transparent;
      border-color: transparent;
      cursor: pointer;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
  }
  
  #ui-datepicker-div .ui-datepicker .ui-datepicker-title {
      margin-top: .4em;
      margin-bottom: .3em;
      color: #e9f0f4;
  }
  
  #ui-datepicker-div .ui-datepicker .ui-datepicker-prev-hover,
  #ui-datepicker-div .ui-datepicker .ui-datepicker-next-hover,
  #ui-datepicker-div .ui-datepicker .ui-datepicker-next,
  #ui-datepicker-div .ui-datepicker .ui-datepicker-prev {
      top: .9em;
      border:none;
  }
  
  #ui-datepicker-div .ui-datepicker .ui-datepicker-prev-hover {
      left: 2px;
  }
  
  #ui-datepicker-div .ui-datepicker .ui-datepicker-next-hover {
      right: 2px;
  }
  
  #ui-datepicker-div .ui-datepicker .ui-datepicker-next span,
  #ui-datepicker-div .ui-datepicker .ui-datepicker-prev span {
      background-image: url(images/ui-icons_ffffff_256x240.png);
      background-position: -32px 0;
      margin-top: 0;
      top: 0;
      font-weight: normal;
  }
  
  #ui-datepicker-div .ui-datepicker .ui-datepicker-prev span {
      background-position: -96px 0;
  }
  
  #ui-datepicker-div .ui-datepicker table {
      margin: 0;
  }
  
  #ui-datepicker-div .ui-datepicker th {
      padding: 1em 0;
      color: #ccc;
      font-size: 13px;
      font-weight: normal;
      border: none;
      border-top: 1px solid #3a414d;
  }
  
  #ui-datepicker-div .ui-datepicker td {
      background: #f97e76;
      border: none;
      padding: 0;
  }
  
  #ui-datepicker-div td .ui-state-default {
      background: transparent;
      border: none;
      text-align: center;
      padding: .25em 0;
      margin: 0;
      font-weight: normal;
      font-size: 16px;
  }
  
  #ui-datepicker-div .ui-datepicker-next, #ui-datepicker-div .ui-datepicker-prev  {
      top: 16px;
  }
  
  #ui-datepicker-div .ui-state-disabled .ui-state-default {
      color: #e7e7e8;
      color:  inherit;
  
  }
  
  #ui-datepicker-div td .ui-state-active,
  #ui-datepicker-div td .ui-state-hover {
      background: #66fce0;
      color:  inherit;
  }
  
  /* datepicker */
  
  
  
  #users-cards .card-top {height:  160px;background: #FFE991;background-blend-mode: luminosity;background-size:  cover;display:  flex;flex-direction:  column;align-items:  center;justify-content:  flex-end;}
  
  #users-cards .card-top h3 {
      color:  white;
      text-align:  center;
      text-shadow: 0px 0px 20px #005380;
  }
  
  #users-cards .card-bottom ul {
      padding-left: 0;
      list-style: none;
      position:  relative;
      z-index: 2;
  }
  
  .price-tag {
      /* transform: rotatez(10deg); */
      font-size:  12px;
      display:  flex;
      flex-direction:  column;
      justify-content: flex-end;
      padding: 24px 12px 12px 24px;
      /* height: 84px; */
      /* width: 96px; */
      text-align: right;
      border-radius: 100px 0 0 0;
      background: #FFE991;
      position:  absolute;
      right: 0;
      bottom: 0;
      white-space: nowrap;
  }
  
  .card-bottom {
      position:  relative;
      min-height:  204px;
      display:  flex;
      flex-direction:  column;
      justify-content:  space-between;
  }
  
  
  #updates .card-top {
      background-size:  cover;
      background-position:  center;
      min-height:  156px;
      height: 200px;
  }
  
  #updates p {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-weight: bold;
  }
  
  #updates span {
      display: -webkit-box;
      overflow:  hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  }
  
  #updates a i, #guides a i {
      bottom: -6px;
      position:  relative;
  }
  
  a:hover>.card i, .card:hover>a i {
      transform: translateX(4px);
  }
  
  
  object{
    pointer-events: none;
  }
  
  
  .portlet.yellow{
    background-color: #FFE578;
    position: relative;
    z-index: 15;
    width: 90%;
    box-shadow: 0 5px 10px 0 rgba(64,61,88,0.25);
    margin-left: 5%;
    left: 0px;
    margin-bottom: 70px;
  }
  
  hr.green{
    border: 1px solid #66FFE0;
  }
  
  hr.white{
    border: 1px solid #fff;
  }
  
  hr.dark{
    border: 1px solid #395B73;
  }
  
  .tooltip-inner {
      background: #198dfc;
  }
  
  .tooltip.top .tooltip-arrow {
      border-top-color: #198dfc;
  }
  
  .blur {
          filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
          -webkit-filter: url(#blur-filter);
          filter: url(#blur-filter);
          -webkit-filter: blur(3px);
          filter: blur(3px);
      }
  .blur-svg {
    display: none;
  }
  .ratings{
  text-align: center;
  color: #FFD700;
  font-size:16px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  
  
  @media only screen and (max-width: 991px) {
    footer .left{
      width: 100%;
    }
    footer .right{
      margin-top: 40px;
      width: 100%;
      text-align: left;
    }
    footer .right a{
      float: left !important;
    }
    footer .bottom-nav{
      /* display: none; */
    }
  
    footer .social-icons{
      display: none;
    }
  
    .max-width-tablet {
      max-width: 768px;
      margin-left: auto !important;
      margin-right: auto !important;
  }
  
    .space-divider {
      height: 48px;
    }
  
    footer .social-media-icons {
      text-align: center;
      margin-left:  -24px;
  }
  
  }
  
  
  
  @media screen and (max-width: 767px){
  
    .partners .logos img{
      width: 33.33%;
    }
    #home-page .portlet:first-child {
        /* width: 100%; */
        /* margin: auto; */
        /* margin-top: 164px; */
    }
    .portlet {
      padding: 16px;
    }
  
    #how-do-i-get-insured img {
      /* margin-top: 32px; */
    }
  
    footer{
      height: inherit;
      /* padding: 32px 16px !important; */
    }
  
  
    footer .bottom-contact {
      /* right: 16px; */
      margin: 0;
      /* bottom: 0px; */
    }
  
    footer .survey {
      text-align:  center;
      }
  
    footer>div{
      /* margin-bottom: 32px; */
    }
  
    .nav-padding {
      padding-top: 64px;
    }
  
  
    .device-height {
      height: 100% !important;
      padding-top:  64px;
  }
  
  
  #discount-modal {
      position: absolute;
      right: 44px;
      bottom: 0;
  }
  
  
  .landing-img {
      /* position:  relative; */
      margin-top: -31px;
  }
  
  .insurance-types .item {
    width: 24%;
    margin-top: 0;
    padding: 0;
    padding-bottom:  12px;
    margin-bottom: 0;
    border:  none;
    box-shadow:  none;
  }
  
  
  .insurance-types img {
      height: 64px;
      position: relative;
      top: -16px;
  }
  
  
    #how-do-i-get-insured h2, #how-do-i-get-insured .span, #how-do-i-get-insured h5 {
      text-align: center !important;
    }
  
    #how-do-i-get-insured .content{
      margin-left:  auto;
      display:  block;
      padding: 0 24px;
    }
  
  
  
    h1 {
      font-size: 36px;
      line-height: 40px;
    }
  
    .page-top h4 {
        font-size: 15px;
        line-height: 22px;
        /* margin-bottom: 32px; */
    }
  
    .page-content{
      margin-left: auto;
      margin-right: auto;
      margin: 16px;
      height: inherit;
      }
  
      .partners img{
        /* max-height: 48px; */
      }
  
      nav .page-title{
    width:100%;
    position:absolute;
    bottom:10px;
    /* color: #395B73; */
    font-family: Poppins;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
  }
  
  nav .navbar-toggle{
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 20px;
    right: 8px;
    border: none !important;
    /* margin-right: 0px; */
    /* width: 24px; */
    /* height: 20PX; */
  }
  
  nav .logo{
    position: absolute;
    bottom: 0;
    /* left: -8px; */
    z-index: 1;
    text-align: left;
  }
  
  .navbar-toggle .icon-bar {
      width: 24px;
      margin: 0px 0 6px 0;
  }
  
  nav ul li{
    /* text-align: center !important; */
  }
  
  nav>ul{
    position: absolute;
    left:0;
    margin-left: 0px !important;
    float:left !important;
    width: 100%;
    bottom: 48px;
  }
  
  nav .nav-actions {display: flex;justify-content:  center;width: 100%;/* margin-top: 16px; */position: absolute;/* left: 24px !important; */bottom: 104px;/* top:auto; *//* right: auto; */text-align: center;}
  
  nav .insureme-navbtn{
    position: absolute;
    bottom: 108px;
    right: 24;
  }
  
  nav button .icon-bar{
    background-color: #395B73;
  }
  
  nav button.navbar-toggle.close{
    opacity: 1.0;
    position: absolute;
    right: 8px;
    /* bottom: 28px; */
    /* height: 24px; */
    display: none;
    color: #395B73;
  }
  
  nav button.navbar-toggle i {
      font-size: 32px;
  }
  
  nav button .fa.fa-times{
    color: #395B73 !important;
  }
  
  nav button{
    background: none;
  }
  
  nav button:active{
    background: none;
  }
  
  nav button:hover{
    background: none;
  }
  
  }
  /* // container class */
#header .primary-menu{} 
 
/* // container class first unordered list */
#header .primary-menu ul {} 
 
/* //unordered list within an unordered list */
#header .primary-menu ul ul {} 
 
 /* // each navigation item */
#header .primary-menu li {
  padding-top: -10px;
  font-weight: bold;
}
 
/* // each navigation item anchor */
#header .primary-menu li a {} 
 
/* // unordered list if there is drop down items */
#header .primary-menu li ul {} 
 
/* // each drop down navigation item */
#header .primary-menu li li {} 
 
/* // each drap down navigation item anchor */
#header .primary-menu li li a {} 
  
  @media  (max-width: 767px){
    #left-building{
      display: none !important;
    }
    nav{
        width:100%;
    }
  
    nav .logo img {
      /* height: 32px; */
      /* top: 32px; */
      /* left: 16px; */
      max-width: 50vw;
  }
  
    nav .nav.navbar-nav {
      /* margin: 0; */
      /* margin-left: 0; */
      /* float: right; */
    }
  
    .navbar {
        display: block;
    }
  
    .navbar-nav li {
        /* margin-right: 24px; */
        /* margin-top: 4px; */

    }


  
      .blocking-portlet .portlet{position:fixed;/* left:50%; */top: 0;/* margin-top:-260px; */height: 100%;width: 100%;/* margin-left:-375px; *//* max-width: 100vw; */z-index:999999;padding: 16px;overflow: auto;border-radius: 0;}
  
  
  }
  
  @media only screen and (max-width: 376px) {
  
  
  
    .partners .logos img{
      width: 50%;
    }
  }
  
  
  .blocking-portlet .portlet form{
    margin-top: 30px;
  }
  
  .blocking-portlet .portlet label {
    text-transform: uppercase;
      color: #395B73;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 18px;
  }
  
  .blocking-portlet .portlet input {
      height: 48px;
      margin-bottom: 16px;
      box-shadow: none;
  /* Combined Shape: */
      background: #FFFFFF;
      border: 1px solid rgba(57,91,115,0.15);
      border-radius: 8px;
      max-width: none;
  }
  
  .blocking-portlet .col-md-6 p {
      text-transform: capitalize;
  }
  
  .blocking-portlet .portlet input::placeholder {
      color: #395B73;
    opacity: 0.25;
  }
  
  .blocking-portlet select {
      width: 100%;
      height: 40px;
      background: white;
      border: 1px solid rgba(57, 91, 115, .15);
      border-radius: 8px;
      margin-bottom: 16px;
      padding-left: 12px;
  }
  
  .blocking-portlet .portlet button {height: 48px;/* width: 207px; */display: block;border: 2px solid #FF4570;border-radius: 4px;background-color: #FF4570;/* box-shadow: 0px 10px 10px 0 rgba(14,36,48,0.1); */color: white;margin-left: auto;margin-right: auto;}
  
  .fa.fa-times{
    cursor:pointer; cursor:hand;
  }
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  